ul {
    &.main-nav {
        list-style: none;
        transition: 5s;
        li{
            display: inline-block;
            margin-left: 20px;
            
            a{
                &.active{
                    color: $primary-color;
                }
                &::before{
                    content: "#";
                    display: inline-block;
                    color: $primary-color;
                    margin-right: 4px;
                }
                
            }
        }
    }
}
.cross{
    display: none;
    position: absolute;
}

.toggle-icon{
    position: absolute;
    color: #fff;
    top: 40%;
    right: 5%;
    opacity: 0;
    visibility: hidden;
}
